.profile-panel {
    position: fixed;
    top: 60px; /* Updated to match the actual navbar height */
    right: -250px;
    bottom: 0;
    width: 250px;
    background: white;
    border-left: 1px solid #eee;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s;
    overflow-y: auto;
    z-index: 5; /* Ensure it's above other content but below a potentially higher z-index navbar */
}

.profile-panel.open {
    right: 0;
}
.profile-panel .profile-content {
    color: black; /* Or any other color that suits your design */
}

/* Optionally, if you want to style headings and paragraphs separately */
.profile-panel .profile-content h2 {
    color: #333; /* Darker color for headings */
}

.profile-panel .profile-content p {
    color: #666; /* Lighter color for paragraphs */
}
.profile-panel h3 {
    font-size: 1.5em;
    color: #333;
}

.profile-panel p {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}
.event-name {
    font-weight: bold;
}

.event-details {
    font-size: smaller;
}

