.profile-panel {
    position: fixed;
    top: 60px; /* Updated to match the actual navbar height */
    right: -250px;
    bottom: 0;
    width: 250px;
    background: white;
    border-left: 1px solid #eee;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s;
    overflow-y: auto;
    z-index: 5; /* Ensure it's above other content but below a potentially higher z-index navbar */
    background: #f9f9f9; /* A light background color for the panel */
    border-left: 3px solid #7ee0a5;
}

.profile-panel.open {
    width: 500px;
    right: 0;
}
.profile-panel .profile-content {
    color: black; /* Or any other color that suits your design */
}

/* Optionally, if you want to style headings and paragraphs separately */
.profile-panel .profile-content h2 {
    color: #333; /* Darker color for headings */
}

.profile-panel .profile-content p {
    color: #666; /* Lighter color for paragraphs */
}
.profile-panel h3 {
    font-size: 1.5em;
    color: #333;
}
.profile-panel .profile-content .user-stats {
    margin-top: 20px; /* Space above the user stats */
    padding-top: 10px;
    border-top: 1px solid #eee; /* A light line for separation */
    background-color: #f1f5f0;
}
.profile-panel p {
    font-size: 1em;
    color: #666;
    margin: 5px 0;
}
.event-name {
    font-weight: bold;
}

.event-details {
    font-size: smaller;
}
/* General spacing for content sections */
.profile-panel .profile-content h5 {
    color: #ff6f61;
    margin-top: 20px; /* Adjust space above each section heading */
}

/* Styling for user contact information */
.profile-panel .profile-content p {
    font-weight: normal; 
    font-size: 0.9em; /* Smaller font size for contact details */
    color: #666;
    margin: 5px 0;
}

/* Consistent header styling */
.profile-panel .profile-content .profile-title,
.profile-panel .profile-content h3,
.profile-panel .profile-content h5 {
    font-weight: bold;
    font-size: 1.2em; /* Standardize font size for headers */
    color: #333;
    margin-bottom: 10px; /* Space below headers */
}

/* Styling for list items */
.profile-panel .profile-content ul {
    list-style-type: disc; /* Bullet points for list items */
    padding-left: 20px; /* Indent list items */
}

.profile-panel .profile-content li {
    color: #8e580d; /* Light background on hover */
    cursor: pointer;
    margin-bottom: 5px; /* Space between list items */
}


.help.is-danger {
    color: #ff3860; /* This is a typical Bulma danger color, adjust as needed */
    margin-top: 10px; /* Add space above the error message */
    font-weight: bold; 
    display: none; /* Hide by default */
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Smooth transition for appearing */
}

/* When the error message is shown */
.help.is-danger.show {
    display: block;
    opacity: 1;
}

/* Styling for the update profile form */
.profile-panel .update-profile-form {
    display: none; /* Initially hide the form */
    margin-top: 20px; /* Add space above the form */
}

/* Show the form when it has the 'open' class */
.profile-panel .update-profile-form.open {
    display: block;
}

.profile-panel .update-profile-form h4 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.profile-panel .update-profile-form label {
    color: #666;
    display: block;
    margin: 10px 0;
}

.profile-panel .update-profile-form input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.profile-panel .update-profile-form button {
    background-color: #7ee0a5;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

