
body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,.1);
}

.navbar-item img {
    max-height: 3rem; /* Adjust logo size */
}

.navbar-burger {
    color: #fff;
}

.button.is-light {
    border: 1px solid #fff;
    color: #fff;
}
.button.login {
    border: 1px solid  #3dba6f;
    background-color: #3dba6f;
    color: rgb(249, 250, 250);
}

.button.is-primary {
    background-color: #ff6f61;
}

#login-box {
    max-width: 450px;
    margin: 0 auto;
}

#login-button {
    margin-top: 15px;
    width: 300px;
}

#login-submit-control {
    padding-bottom: 15px;
}

#navbar-container {
    max-width: 950px;
}

#datepicker-section {
    display: flex;
    justify-content: center;
}

#pricefilter-section {
    display: flex;
    justify-content: center;
}

#event-info {
    padding-left: 60px;
}

.button.signup {
    border: 1px solid #ffcc29;
    background-color: #ffcc29;
    color: #333;
}

#signup-box {
    max-width: 450px;
    margin: 0 auto;
}

#signup-button {
    margin-top: 15px;
    width: 300px;
}

#signup-submit-control {
    padding-bottom: 15px;
}



.hero{
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

.hero-body {
    padding-top: 1rem; /* Reduce the top padding */
    padding-bottom: 1rem; /* Reduce the bottom padding */
}
.title, .subtitle {
    margin-top: 0; /* Remove top margin */
    margin-bottom: 0.5rem; /* Reduce bottom margin */
    line-height: 1.2; /* Adjust line height to tighten up space */
}

/* Category and filter button styling */
.categories-filters {
    text-align: center;
    margin-top: -0.5rem; /* Adjust space from the hero section */
    margin-bottom: -0.5rem; 
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allow items to wrap as needed */
}
.iconCategoryWrapper {
    display: flex; /* Use flex layout for horizontal alignment */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Wrap items to next line on small screens */
    gap: 1rem; /* Add space between items */
}

.iconCategoryCard {
    display: flex; /* Use flexbox for internal alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin: 1rem; /* Space between buttons */
    text-decoration: none; /* Remove underline from links */
}

.iconCategoryCardImageWrapper {
    background-color: #D7E5CA; /* Light green background */
    padding: 1rem; /* Spacing around the icon */
    border-radius: 50%; /* Circular border */
    margin-bottom: 0.5rem; /* Space between icon and text */
    display: flex; /* Use flexbox to center the icon */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
}

.iconCategoryCardImageWrapper i {
    font-size: 2rem; /* Larger icon size */
    color: #333; /* Icon color */
}

.iconCategoryCardTitle {
    color: #333; /* Title color */
    font-weight: bold; /* Bold font for the title */
    font-size: 1rem;
}

/* Hover effects for the card */
.iconCategoryCard:hover .iconCategoryCardImageWrapper {
    background-color: #8EACCD; /* Change background on hover */
    transform: scale(1.05); /* Slightly enlarge card on hover */
    border-color: #8EACCD; /* Change border color on hover */
    color: #333; /* Change title color on hover */

}


/* Responsive adjustments */
@media (max-width: 768px) {
    .iconCategoryWrapper {
        flex-direction: column; /* Stack vertically on small screens */
    }
}
.filter-buttons{
    text-align: center;
    margin-top: 0.5rem; /* Adjust space from the hero section */
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: center; /* Center the items horizontally */
    flex-wrap: wrap; /* Allow items to wrap as needed */
}

.filter-buttons .button {
    width: 90px;
    height: 45px;
    margin: 0.5rem;
    border: none;
    background-color: #D2E0FB;
    color: #333;
    justify-content: center; /* Center items horizontally */
    align-items: center;
}

.category-buttons .button {
    padding: 1rem 2rem; /* Larger buttons for categories */
    justify-content: center; /* Center items horizontally */
    align-items: center;
}


.category-buttons .button:hover,
.filter-buttons .button:hover {
    background-color: #8EACCD;
    color: #333;
}

/* Responsive adjustments (optional) */
@media screen and (max-width: 768px) {
    .category-buttons .button,
    .filter-buttons .button {
        width: 100%;

    }
}

.full-width-line {
    height: 1px; /* The height of the line */
    background-color: #ccc; /* The color of the line */
    width: 100vw; /* Full width of the viewport */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 1px; /* Space between the category buttons and the line */
}

/* Ensure that all images take up 100% of the card-image container */
.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* This will ensure that the images cover the area nicely */
}

/* Standardize the size of the cards */
.card {
    display: flex;
    flex-direction: column; /* Stack the image and content vertically */
    height: 100%;
}

.card-content {
    flex-grow: 1; /* Allow the card content to fill the available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out the title/description and the date */
}

.media-content {
    text-align: center; /* Center-align the text */
}

/* Add some spacing and style to the title and subtitles */
.title {
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #4a4a4a; /* A softer color for the subtitles */
    margin-bottom: 0.5rem;
}

/* Style for the description text */
.content {
    font-size: 0.8rem; /* Adjust the font size as necessary */
    color: #707070; /* A softer color for the description */
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis; /* Add an ellipsis for text that overflows */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show a maximum of 3 lines */
    -webkit-box-orient: vertical;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
