
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 50vh;
    background: #f5f5f5;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,.1);
}

.navbar-item img {
    max-height: 3rem; /* Adjust logo size */
}

.navbar-burger {
    color: #fff;
}

.button.is-light {
    border: 1px solid #fff;
    color: #fff;
}
.button.login {
    border: 1px solid  #3dba6f;
    background-color: #3dba6f;
    color: rgb(249, 250, 250);
}

.button.is-primary {
    background-color: #ff6f61;
}

#login-box {
    max-width: 450px;
    margin: 0 auto;
}

#login-button {
    margin-top: 15px;
    width: 300px;
}

#login-submit-control {
    padding-bottom: 15px;
}

#navbar-container {
    max-width: 950px;
}

#event-info {
    padding-left: 60px;
}

.button.signup {
    border: 1px solid #ffcc29;
    background-color: #ffcc29;
    color: #333;
}

#signup-box {
    max-width: 450px;
    margin: 0 auto;
}

#signup-button {
    margin-top: 15px;
    width: 300px;
}

#signup-submit-control {
    padding-bottom: 15px;
}

/* Category and filter button styling */
.categories-filters {
    text-align: center;
    margin-top: 2rem; /* Adjust space from the hero section */
}

.category-buttons .button{
    width: 150px;
    height: 60px;
    margin: 0.5rem;
    border: none;
    background-color: #D7E5CA;
    color: #333;
}


.filter-buttons .button {
    width: 90px;
    height: 45px;
    margin: 0.5rem;
    border: none;
    background-color: #D2E0FB;
    color: #333;
}

.category-buttons .button {
    padding: 1rem 2rem; /* Larger buttons for categories */
}

.filter-buttons .button {
    padding: 0.5rem 1rem; /* Smaller buttons for filters */
}

.category-buttons .button:hover,
.filter-buttons .button:hover {
    background-color: #8EACCD;
    color: #333;
}

/* Responsive adjustments (optional) */
@media screen and (max-width: 768px) {
    .category-buttons .button,
    .filter-buttons .button {
        width: 100%;

    }
}

.full-width-line {
    height: 1px; /* The height of the line */
    background-color: #ccc; /* The color of the line */
    width: 100vw; /* Full width of the viewport */
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 3px; /* Space between the category buttons and the line */
}

/* Ensure that all images take up 100% of the card-image container */
.card-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* This will ensure that the images cover the area nicely */
}

/* Standardize the size of the cards */
.card {
    display: flex;
    flex-direction: column; /* Stack the image and content vertically */
    height: 100%;
}

.card-content {
    flex-grow: 1; /* Allow the card content to fill the available space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out the title/description and the date */
}

.media-content {
    text-align: center; /* Center-align the text */
}

/* Add some spacing and style to the title and subtitles */
.title {
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #4a4a4a; /* A softer color for the subtitles */
    margin-bottom: 0.5rem;
}

/* Style for the description text */
.content {
    font-size: 0.8rem; /* Adjust the font size as necessary */
    color: #707070; /* A softer color for the description */
    overflow: hidden; /* Hide overflowed content */
    text-overflow: ellipsis; /* Add an ellipsis for text that overflows */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Show a maximum of 3 lines */
    -webkit-box-orient: vertical;
}
