
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background: #f5f5f5;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,.1);
}

.navbar-item img {
    max-height: 3rem; /* Adjust logo size */
}

.navbar-burger {
    color: #fff;
}

.button.is-light {
    border: 1px solid #fff;
    color: #fff;
}
.button.login {
    border: 1px solid  #3dba6f;
    background-color: #3dba6f;
    color: rgb(249, 250, 250);
}

.button.is-primary {
    background-color: #ff6f61;
}

#login-box {
    max-width: 450px;
    margin: 0 auto;
}

#login-button {
    margin-top: 15px;
    width: 300px;
}

#login-submit-control {
    padding-bottom: 15px;
}

#navbar-container {
    max-width: 950px;
}

#main-container {
    margin-top: 40px;
    max-width: 950px;
}

.column {
    margin-bottom: 30px;
}

.card{
    border-radius: 6px;
}

#event-info {
    padding-left: 60px;
}

.button.signup {
    border: 1px solid #ffcc29;
    background-color: #ffcc29;
    color: #333;
}

#signup-box {
    max-width: 450px;
    margin: 0 auto;
}

#signup-button {
    margin-top: 15px;
    width: 300px;
}

#signup-submit-control {
    padding-bottom: 15px;
}
