
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background: #f5f5f5;
}

.navbar {
    box-shadow: 0 2px 3px -1px rgba(0,0,0,.1);
}

.navbar-item img {
    max-height: 3rem; /* Adjust logo size */
}

.navbar-burger {
    color: #fff;
}

.button.is-light {
    border: 1px solid #fff;
    color: #fff;
}

.button.is-primary {
    background-color: #ff6f61;
}

#login-box {
    max-width: 450px;
    margin: 0 auto;
}

#login-button {
    margin-top: 15px;
    width: 300px;
}

#login-submit-control {
    padding-bottom: 15px;
}

#navbar-container {
    max-width: 950px;
}

#main-container {
    margin-top: 40px;
    max-width: 950px;
}

.column {
    margin-bottom: 30px;
}

.card{
    border-radius: 6px;
}

#event-info {
    padding-left: 60px;
}